---
page_title: "{{ .Name }} {{ .Type }} - {{.ProviderName}}"
description: |-
  {{ .Description }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description }}

## Example Usage

{{ tffile "examples/resources/neon_org_member_role/resource.tf" }}

{{ .SchemaMarkdown }}

## Import

The Neon organization role can be imported to the terraform state by its composite identifier that consists of
`OrgID` and `MemberID` separated by a forward slash.

Import using the [import block](https://developer.hashicorp.com/terraform/language/import):

For example:

```hcl
import {
  to = {{.Name}}.example
  id = "org-restless-silence-28866559/28012f1d-fe85-4d69-be44-79f561ce10f6"
}
```

Import using the command `terraform import`:

```commandline
terraform import {{.Name}}.example "org-restless-silence-28866559/28012f1d-fe85-4d69-be44-79f561ce10f6"
```
