---
page_title: "{{ .Name }} {{ .Type }} - {{.ProviderName}}"
description: |-
  {{ .Description }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description }}

## Example Usage

{{ tffile "examples/resources/neon_snapshot/resource.tf" }}

{{.SchemaMarkdown}}

## Import

A Neon Snapshot can be imported to the terraform state by its composite identifier that consists of
`ProjectID` and `SnapshotID` separated by a forward slash.

Import using the [import block](https://developer.hashicorp.com/terraform/language/import):

For example:

```hcl
import {
  to = {{.Name}}.example
  id = "curly-poetry-30604233/snapshot-id"
}
```

Import using the command `terraform import`:

```commandline
terraform import {{.Name}}.example "curly-poetry-30604233/snapshot-id"
```
