---
page_title: "{{ .Name }} {{ .Type }} - {{.ProviderName}}"
description: |-
  {{ .Description }}
---

# {{ .Name }} ({{ .Type }})

{{ .Description }}

## Example Usage

{{ tffile "examples/data-sources/neon_bucket_connection/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
